{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Albumania{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a class="brand" href="/">Albumania</a>
            <button class="toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
            </button>
            <div class="menu collapse" id="navbarNav">
                <ul class="nav-list">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>

                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'profile_dashboard' %}">My Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'album_list'%}">My Albums</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'add_album'%}">Create Album</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'custom_logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Create Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'custom_login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <p>© 2024 Albumania. All Rights Reserved.</p>
    </footer>
</body>
</html>
